.login-card{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 30%;
    width:35%;   
}

.dispNone{
    display: none;
 }
 
 .dispBlock{
    display: block;
 }

.red{
    color: red;
 }