.profile-container {
	display: flex;
	flex-direction: row;
	margin-left: 25%;
	margin-right: 25%;
}

.avatar-left {
	float: left;
	cursor: pointer;
}

.profile-info {
	margin-left: 60px;
	margin-top: 20px;
}

.info-section {
	font-size: 16px;
	margin-top: 10px;
}

.profile-text {
	font-weight: bold;
}

.edit-section {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.edit-button {
	margin-left: 20px;
}

.dispNone {
	display: none;
}

.dispBlock {
	display: block;
}

.red {
	color: red;
}

.grid-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.post-image {
	cursor: pointer;
	height: 100%;
	width: 100%
}
.postModalImageContainer{
	float: left;
}
.postModalImage{
	 object-fit: fill;
    width: 100%;
    height: 100%
}
.model-info{
	display: flex;
	flex-direction: row;
}
.like-section {
  display: flex;
}